<script src="utils/submit.js"></script>
<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a></li>
      <li class="nav-item"><a routerLink="/movement-list" routerLinkActive="active" class="nav-link">Movimentação</a></li>
      <li class="nav-item"><a routerLink="/wallet-list" routerLinkActive="active" class="nav-link">Carteira</a></li>
      <li class="nav-item">
        <a routerLink="/category-list" routerLinkActive="active" class="nav-link">Categoria</a>
      </li>
    </ul>
  </header>
  <body>
    <router-outlet></router-outlet>
  </body>
</div>
