<div class="container-fluid">
  <div class="card">
    <form class="row g-3 needs-validation" [formGroup]="form">
      <div class="card-body">
        <h5 class="card-title">Movimentação</h5>
        <div class="mb-3">
          <label for="name" class="form-label">Data: </label>
          <input type="text" class="form-control" formControlName="date" id="date" />
          <span *ngIf="form.controls.date.errors">
            <p style="color: red;">Campo obrigatório</p>
          </span>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Descrição: </label>
          <input type="text" class="form-control" formControlName="description" id="description" />
          <span *ngIf="form.controls.description.errors">
            <p style="color: red;">Campo obrigatório</p>
          </span>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Parcelas: </label>
          <input type="text" class="form-control" formControlName="quota" id="quota" />
          <span *ngIf="form.controls.quota.errors">
            <p style="color: red;">Campo obrigatório</p>
          </span>
        </div>
        <div class="mb-3">
          <label for="type" class="form-label">Fonte: </label>
          <select class="form-select" aria-label="Selecione...">
            <option value="1">Nubank (Débito)</option>
            <option value="2">Nubank (Crédito)</option>
            <option value="3">XP (Crédito)</option>
            <option value="4">Itaú (Dinheiro)</option>
            <option value="5">Itaú (Débito)</option>
          </select>
        </div>
        <div class="d-flex flex-row bd-highlight mx-auto">
          <div class="p-2 bd-highlight"><button type="submit" class="btn btn-primary">OK</button></div>
          <div class="p-2 bd-highlight"><button type="button" class="btn btn-secondary" [routerLink]="'/movement-list'">Cancel</button></div>
        </div>
      </div>
    </form>
  </div>
</div>
